.chat_form {
  height: 8%;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input {
    height: 100%;
    border: none;
    border-right: 2px solid #e0e0ed;
    outline: none;
    font-size: 12px;
    padding: 0 5px;
  }

  &__text {
    width: 50%;
  }

  &__name {
    width: 30%;
  }

  button {
    width: 20%;
    height: 100%;
    border: none;
    background: blue;
    color: #fff;
  }
}